<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link rel="stylesheet" href="css\style.css">

    <style>
        .mainDiv{            
            height: 100%;
            width: 450px; 
            border-top-right-radius: 50px;
            background-color: white;
            outline: 5px solid #5CA37F;
            outline-offset: 5px;
            margin-left: 15px;
        }

        .logoDiv{ 
            display: flex;
            flex-direction: column;  
            justify-content: space-around;
            align-items: center;
            height: 100%;  
            width: 250px;
            background: linear-gradient(180deg, #5CA3A3, #5CA37F); 
            border-bottom-left-radius: 50px;
            outline: 5px solid #5CA3A3;
            outline-offset: 5px;            
        }

    </style>
    
</head>
<body>
    
        <div class="bodyDiv">

            <div class="container">
                <form action="http://localhost:9000" class="logoDiv">
                    <h1>Not a Member?</h1>
                    <p>Join us Today!</p>                    
                    <button type="submit" class="cadastrarBnt">Logout</button>
                    
                </form>
            
                <div class="mainDiv"> 
            
                    <div class="loginDiv">
                        <h1 class="text">WELCOME</h1>
                        <div class="inputDiv">
                            <h2>Author: ISAAC SANTOS LOPES</h2>
                            <h2>TDE - Tópicos Avançados de Programação</h2>
                        </div>                                  
                    </div>     
                </div>            
            </div> 
        </div>         
    
    <script src="c:/Users/Isaac Lopes/Desktop/TDE/TDEJs.js"></script>
</body>
</html>